Write a python program to print the table of 5

In [4]:
for i in range(1,11):
    print(5*i)
    print("\n")

5


10


15


20


25


30


35


40


45


50

write a program to add two numbers

In [5]:
a = 8
b = 7

print(a+b)

15

WAP to find the remainder when a number is divided by z

In [7]:
num = 8
rem = num%3
print(rem)

2

In [9]:
a = input("Enter something")
print(type(a))

<class 'str'>

In [10]:
a= 80 
b = 70
print(a>b)

True

In [11]:
print(a<b)

False

In [13]:
a = int(input("Enter a "))
b = int(input("Enter b "))


avg = (a+b)/2
print(avg)

3.0

In [14]:
import math

In [15]:
#program to find the square of a number entered by the user

b = int(input("Enter a number: "))
sqr_b = b**2
print(sqr_b)

16

In [17]:
name = input("Enter your name")
print("Good Afternoon "+name+"!")

Good Afternoon swata swayam dash!

In [18]:
name = input("Enter your name")
date = "11/3/24"

letter = "Dear "+name+",\n"+"You are selected!\n"+date
print(letter)

Dear swayam,
You are selected!
11/3/24

In [20]:
#a program to detect double spaces in a string

str = input("Enter a string")
print(str)
print(str.find("  "))

akjdn  ad  d
5

In [26]:
letter = "Dear Harry" +"\n" +"This course is nice,\n" +"thanks!"
print(letter)

Dear Harry
This course is nice,
thanks!

In [27]:
#list operations

In [40]:
l1 = [1,21,12,43,45,32,3]
l1.sort()
print(l1)
l1.reverse()
print(l1)
print(l1.pop(3))

[1, 3, 12, 21, 32, 43, 45]
[45, 43, 32, 21, 12, 3, 1]
21

In [31]:
a = (11,1,1,1,3,4,5,7,66)
print(a.count(1))

3

In [32]:
print(a.index(1)) # gives the index of the first occurrence of 1

1

In [33]:
l = []
for i in range(7):
    a = input("Enter a fruit: ")
    l.append(a)

In [34]:
print(l)

['banana', 'apple', 'mango', 'laks', 'sad', 'sad', 'dg']

In [37]:
m = []
for i in range(6):
    x = int(input("Enter marks of 6 students: "))
    m.append(x)
m.sort()

print(m)

[1, 3, 4, 6, 12, 12]

In [43]:
# t = (1,2,3,4)
# t[2] = 6 #error as tuple cannot be changed
# print(t)

In [46]:
s = [1,2,3,4]
sum = 0
for i in range(4):
    sum+=s[i]
print(sum)

10

In [47]:
a = (7,0,8,0,0,9)
print(a.count(0))

3

In [48]:
Hindi_English = {
    "idhar":"here",
    "wahan": "there",
    "jao":"go",
    "ek": 1,
    "do": 2,
    "tin": 3
}

print(Hindi_English)

{'idhar': 'here', 'wahan': 'there', 'jao': 'go', 'ek': 1, 'do': 2, 'tin': 3}

In [50]:
for i in range(6):
    print("Enter 0 to exit")
    choice = int(input("Enter your choice"))
    if(choice != 0):        
        question = input("Enter a hindi word to find its english translation: ")
        if(Hindi_English.get(question)):
            print(Hindi_English.get(question))
        else:
            print("There is no english translation of "+question)
    else:
        break

Enter 0 to exit
3
Enter 0 to exit

In [54]:
#WAP to input 8 numbers from the user and display all the unique numbers
s = set()

for i in range(8):
    a = int(input("Enter 8 numbers: "))
    s.add(a)
print(s)

{1, 3, 4, 5, 6}

In [55]:
l3 = ["18", 18]
print(l3)

['18', 18]

In [57]:
s = set()
s.add("20")
s.add(20)
s.add(20.0)

print(s)
print(len(s))

{'20', 20}
2

In [59]:
age = int(input('Enter age: '))
if(age >= 18):
    print("Yes")

Yes

In [64]:
l = []
for i in range(4):
    c = int(input("Enter a number: "))
    l.append(c)
l.sort()
l.reverse()
max = l.pop(0)
print(max)

999999

In [67]:
total_marks = 0
for i in range(3):
    marks = int(input("Enter the marks in 3 subjects: "))
    if(marks < 33):
        print("fail")
        break
    else:
        total_marks = total_marks+marks
    if(total_marks < 40):
        print("fail")
    else:
        print("pass")

pass
fail

In [71]:
#program to detect a spam email
spam_mail = ["make a lot of money", "buy now", "subscribe this", "click this"]
hug = input("Draft a mail")
if(hug in spam_mail):
    print("The mail is spam")

The mail is spam

In [69]:
#WAP to find if the username contains less than 10 characters

userName = input("Enter your username")
if(len(userName)>10):
    print('The username has more than 10 characters')

The username has more than 10 characters

In [72]:
mark = int(input("Enter marks: "))
grade = 'A'
if(mark >= 90 and mark <=100):
    grade = 'Ex'
elif(mark >=80 and mark<90 ):
    grade = 'A'
elif(mark >=70 and mark <80):
    grade = 'B'
elif(mark >=60 and mark < 70):
    grade = 'C'


print(grade)

C

In [74]:
#traversing a string
#using for loop

name = "Swata Swayam Dash"
for i in name:
    print(i)

S
w
a
t
a

S
w
a
y
a
m

D
a
s
h

In [76]:
#using list comprehension

lst = [char for char in name]
for i in lst:
    print(i)

S
w
a
t
a

S
w
a
y
a
m

D
a
s
h

In [81]:
#program to check if an email is spam or not

spam_mail = ["money double", "subscribe this", "2x returns", "investment", "whiskey"]

mail_entered = input("Enter a mail")
#the find function gives us the index of the first occurrence of the character which is present in the string , if it returns -1 then the character is not present in the string
for i in spam_mail:
    if(mail_entered.find(i)!= -1):
        print("The mail is spam")

The mail is spam

In [83]:
print(mail_entered[-3:]) #this prints the last 3 characters

tes

In [85]:
print(mail_entered[-3:-1]) #it prints the last 2 characters present in the string

te

In [92]:
#string modification

name6 = "                            swata swayam dash               "
print(name6)
capital = name6.upper()
lower = name6.lower()
firstLetterCaps = name6.capitalize()
noSpace = name6.strip()
print(capital)
print(lower)
print(firstLetterCaps)
print(noSpace)
#there would be no changes in the original string

                            swata swayam dash
                            SWATA SWAYAM DASH
                            swata swayam dash
                            swata swayam dash
swata swayam dash

In [96]:
name5 = "hey this is something which is indeed delicious and add wine in it and drink, You are my something something hello honey bunny"
replaceStr = name5.replace("something", "apple", 2)
print(name5)
print(replaceStr)

hey this is something which is indeed delicious and add wine in it and drink, You are my something something hello honey bunny
hey this is apple which is indeed delicious and add wine in it and drink, You are my apple something hello honey bunny

In [110]:
fast = "hey this yeah doing good no but there is some"

fastSplit = fast.split()
print(fast)
print(fastSplit)

more = "apple , banana , mango , GUAVA , sambar"
fruits = more.split(",")
print(fruits)

hey this yeah doing good no but there is some
['hey', 'this', 'yeah', 'doing', 'good', 'no', 'but', 'there', 'is', 'some']
['apple ', ' banana ', ' mango ', ' GUAVA ', ' sambar']

In [112]:
#string formating
student_name = "swata swayam dash" 
student_marks = 98


para = "the marks obtained by {s} , is {m}".format(s = student_name.capitalize(), m= student_marks)
print(para)

the marks obtained by Swata swayam dash , is 98

In [2]:
#program to check if a string is talking about swayam or not

s = input("Enter a string")
if(s.find("swayam") != -1):
    print("The given text is talking about the most intelligent ,passionate , richest developer in the world Swayam")

In [3]:
#multiplication of a given number using for loop

num = int(input("Enter a number: "))
for i in range(1,11):
    print("{number} * {multiplier} = {product}".format(number = num, multiplier = i , product = num*i))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [11]:
#program to greet all the members whose names start with 'S'

ll = ["swayam ", "aditya", "shobik", "rishi", "piyush"]

for names in ll:
    if(names.startswith('s')):
        print("Good afternoon ", names)
    else:
        print("mr. {naam} you don't deserve a good afternoon ;)".format(naam = names))

Good afternoon  swayam
mr. aditya you don't deserve a good afternoon ;)
Good afternoon  shobik
mr. rishi you don't deserve a good afternoon ;)
mr. piyush you don't deserve a good afternoon ;)

In [13]:
count = len(ll)-1
while (count != -1):
    if(ll[count].startswith('s')):
        print("Good afternoon ", ll[count])
    else:
        print("mr. {naam} you don't deserve a good afternoon ;)".format(naam = ll[count]))
    count = count - 1

mr. piyush you don't deserve a good afternoon ;)
mr. rishi you don't deserve a good afternoon ;)
Good afternoon  shobik
mr. aditya you don't deserve a good afternoon ;)
Good afternoon  swayam

In [24]:
#program to find a given number is prime or not

num = int(input("Enter a number: "))
divisor = 0

if(num == 0):
    print("The number is neither prime nor composite")
    
if(num != 0):
    
    for i in range(2,num-1):
        if(num % i == 0):
            divisor+=1
    if(divisor >= 1):
        print("The given number is not prime")
    else:
        print('The given number is prime')

The given number is prime

In [30]:
#sum of first n whole numbers using while loop

n = int(input("Enter a number: "))
m = n
sum = 0
while(n >= 0):
    sum = sum + n
    n = n-1
print("The sum of {num} whole numbers is {summation}".format(num=m, summation = sum))

The sum of -1 whole numbers is 0

In [37]:
#factorial of a given number using for loop

n = int(input("Enter a number: "))
fact = 1
i = n
if(n == 0):
    print("The factorial of {num} is {factorial}".format(num =n, factorial = 1))
if(n != 0):
    
    while(i > 0):
        fact = fact * i
        i = i-1
    print("The factorial of {num} is {factorial}".format(num =n, factorial = fact))

The factorial of 5 is 120

In [38]:
#pyramid star pattern for n = 3
for i in range(3):
    for j in range(i+1):
        print('*')

*
*
*
*
*
*

In [41]:
#multiplication table in reversed order

num = int(input("Enter a number: "))
i = 10
while(i > 0):
    print("{number} * {mul} = {prod}".format(number=num , mul = i , prod = num * i))
    i = i-1

5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

In [57]:
def greatest(a, b, c):
    if(a>b and a>c):
        return a
    elif(b>a and b>c):
        return b
    elif(c>a and c>b):
        return c
    elif(a==b and a==c):
        return a
    elif(b==c and b>a):
        return b
    else:
        return c
print(greatest(9,9,10))

10

In [58]:
def celToFar(cel):
    far = (cel *9/5)+32
    return far
print(celToFar(38))

100.4

In [70]:
#rescursive function to calculate the sum of first n natural numbers

def sum(n):
    if(n<0):
        return 0
    if(n==0 or n==1):
        return n
    else:
        return n + sum(n-1)
    
print(sum(10))

55

In [72]:
def convertInchToCm(n):
    return n * 2.54

print(convertInchToCm(2))

5.08

In [77]:
#function to remove a word from the list and strip it at the same time
ll = ["arambh", "vardaan", "mitwa", "hoshla"]
def remove(word):
    removedWord = ll.pop(ll.index(word))
    print("The removed word is ", removedWord.strip())
    
print(remove("mitwa"))

The removed word is  mitwa
None

In [78]:
#function to print the multilication table of a given number

def mul(n):
    for i in range(1,11):
        print("{n}*{i} = {prod}".format(n = n , i = i, prod = n*i))
mul(8)

8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
8*10 = 80

In [81]:
class Employee:
    company = "google"

harry = Employee()
harry.company = "Microsoft"

print(harry.company)

harry.name = "harry"
harry.salary = "30k"

Microsoft